<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hallom.dao.CaptchaDao">
    <insert id="insert" parameterType="java.lang.String">
        insert into t_hallom_captcha (captcha,mobilephone,createTime) values(#{captcha},#{mobilephone},now()) ;
    </insert>
    <delete id="delete" >
        delete from t_hallom_captcha where mobilephone=#{mobilephone};
    </delete>
</mapper>