<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hallom.dao.SchoolDao">
   <select id="get" resultType="com.hallom.entity.School">
       SELECT school_id schoolId,
               school_name schoolName
       FROM  t_hallom_school;
   </select>
</mapper>